.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/proyectobatman-96cd0.appspot.com/o/zlatan-ibrahimovic_lllgst0xh0z71fqmhzxx36kl0.jpg?alt=media&token=38be4b72-69e3-4e5d-a3e0-0396cff17fc5');
    background-position: top center;
    background-size: cover;
    padding: 50% 5% 5% 5%;
}